<div class="my-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-8">
                <div class="card">
                    <div class="card-header ">SIGN UP</div>
                    <div   class="card-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Firstname</th>
                                <th>Lastname</th>
                                <th>Gender</th>
                                <th>Country</th>
                                <th>Email</th>
                                <th>Username</th>
                                <th>Phone</th>
                                <th>Game</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{_firstname}}</td>
                                <td>{{_lastname}}</td>
                                <td>{{_gender}}</td>
                                <td>{{_select1}}</td>
                                <td>{{_email}}</td>
                                <td>{{_username}}</td>
                                <td>{{_phnumber}}</td>
                                <td>{{_games}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>