<div class="my-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-8">
                <div class="card">
                    <div class="card-header ">UPDATE</div>
                    <div   class="card-body">
                        <form method="post" id="updateForm"   action="/update-form/update">
                            <div class="form-group row">
                                <input style="display: none" type="text" class="form-control" name="id" value="{{data._id}}">
                                <label  class="col-md-4 col-lg-4 col-form-label text-md-right">First Name</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" name="_firstname" value="{{data._firstname}}">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label  class="col-md-4 col-lg-4 col-form-label text-md-right">Last Name</label>
                                <div class="col-md-6">
                                    <input type="text"  class="form-control" name="_lastname" value="{{data._lastname}}">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-4 col-lg-4 col-form-label text-md-right">Gender</label>
                                {{#if gen}}
                                <label class="form-check col-md-4 col-form-label text-md">
                                    <input class="form-check-input " type="radio" name="_gender" value="male" checked>
                                    <span class="form-check-label"> Male </span>
                                </label>
                                    <label class="form-check col-md-4 col-lg-4 col-form-label text-md">
                                        <input class="form-check-input " type="radio" name="_gender" value="female">
                                        <span class="form-check-label"> Female</span>
                                    </label>
                                {{else}}
                                    <label class="form-check col-md-4 col-form-label text-md">
                                        <input class="form-check-input " type="radio" name="_gender" value="male" >
                                        <span class="form-check-label"> Male </span>
                                    </label>
                                <label class="form-check col-md-4 col-lg-4 col-form-label text-md">
                                    <input class="form-check-input " type="radio" name="_gender" value="female" checked>
                                    <span class="form-check-label"> Female</span>
                                </label>
                                {{/if}}
                            </div>

                            <div class="form-group row">
                                <label class="col-md-4 col-lg-4 col-form-label text-md-right">Country</label>
                                <div class="col-md-6">
                                    <select class="dropdown form-control" name="_Select1" size="1">
                                       {{{select}}}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label  class="col-md-4 col-lg-4 col-form-label text-md-right">E-Mail</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" name="_email" id="email" value="{{data._email}}" disabled>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-4 col-lg-4 col-form-label text-md-right">User Name</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" name="_username" id="username" value="{{data._username}}">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label  class="col-md-4 col-lg-4 col-form-label text-md-right">Password</label>
                                <div class="col-md-6">
                                    <input type="password"  class="form-control" name="_password" id="password" value="{{data.password}}">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label  class="col-md-4 col-lg-4 col-form-label text-md-right">Confirm Password</label>
                                <div class="col-md-6">
                                    <input type="password"  class="form-control" name="_cpassword" id="cpassword">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="phone_number" class="col-md-4 col-lg-4 col-form-label text-md-right">Phone Number</label>
                                <div class="col-md-6">
                                    <input type="text" id="phone_number" name="_phnumber" class="form-control" value="{{data._phnumber}}" disabled>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-4 col-lg-4 col-form-label text-md-right">Select A Game</label>
                                <div class="col-md-6">
                                    {{#if  far}}
                                            Far Cry<input type="checkbox" id="games1" class="checkboxsel" name="_games" value="farcry" checked>
                                            Assassin's Creed<input type="checkbox" id="games2" class="checkboxsel"  name="_games" value="assassins creed">
                                            Need For Speed<input type="checkbox" id="games3" class="checkboxsel" name="_games" value="need for speed">
                                    {{else if assassin}}
                                            Far Cry<input type="checkbox" id="games1" class="checkboxsel" name="_games" value="farcry">
                                            Assassin's Creed<input type="checkbox" id="games2" class="checkboxsel"  name="_games" value="assassins creed" checked>
                                            Need For Speed<input type="checkbox" id="games3" class="checkboxsel" name="_games" value="need for speed">
                                    {{else if nfs}}
                                            Far Cry<input type="checkbox" id="games1" class="checkboxsel" name="_games" value="farcry">
                                            Assassin's Creed<input type="checkbox" id="games2" class="checkboxsel"  name="_games" value="assassins creed">
                                            Need For Speed<input type="checkbox" id="games3" class="checkboxsel" name="_games" value="need for speed" checked>
                                    {{/if}}
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-6 offset-md-4">
                                <button class="btn btn-warning">UPDATE</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
